* {
    box-sizing: border-box;
}

body{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



#encabezado{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(151, 196, 79);
    color: black;
    width: 100%;
    font-size: 30px;
}

#contenido{
    background-color: rgb(145, 158, 87);
    text-align: center;
    width: 100%;
    height: 1000px;
}   

#pie{
    display: flex;
    justify-content: center;
    background-color: rgb(74, 155, 37);
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

